@charset "UTF-8";
/*
* Variables
----------------------------------------------*/
/*---- Primary-color ---*/
/*----default color----*/
/*
* Mixins
----------------------------------------------*/
/* ===== Usage ===== */
/*

h1 {
    font-size: 10px;
  
    @include tablet {
      font-size: 12px;
    }
  
    @include desktop {
      font-size: 20px;
    }
  }

*/
/*
* Global settings
--------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap");
html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

* {
  padding: 0;
  margin: 0; }

*, *:before, *:after {
  box-sizing: inherit; }

a {
  text-decoration: none;
  color: #212529; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

input, textarea, button {
  border: none;
  outline: none;
  background: none; }

/* Farba označenia */
::selection {
  background: #1d3848;
  color: #F7F6EE;
  text-shadow: none; }

/*Scroll bar*/
body::-webkit-scrollbar {
  width: 0.85em; }

body::-webkit-scrollbar-track {
  background: #F7F6EE; }

body::-webkit-scrollbar-thumb {
  background-color: #e2e1da;
  border-radius: 6px;
  border: 1px solid #F7F6EE; }

body {
  font-family: 'Baloo 2', cursive;
  font-weight: 400;
  font-size: 100%;
  line-height: 1.6em;
  color: #183342;
  background: #ebebeb;
  -webkit-font-smoothing: antialiased; }


.header-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.section-two .container {
  max-width: 90%;
  margin: 0 auto;
}

.h-100 {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #e2e1da;
  margin: 0px; }

small {
  font-size: 1.1em;
  font-weight: 800;
  color: #e2e1da; }

span {
  font-size: 0.85;
  color: #e2e1da; }

a {
  font-weight: 600;
  color: #252525;
  text-decoration: none;
  transition: 0.3s; }


.global-header {
  background: url(../images/desktop/image-header.jpg);
  background-repeat:no-repeat;
  width: 100%;
  height: 40rem;
  background-size: cover;
  background-position: center 100%;
}


.flex {
  display: flex;
  justify-content: space-between;
  align-items:center;
  min-height: 80px;
}

.header-navigation h3 .logo {
  width: 130px;
}

.header-navigation ul {
  display: flex;
  align-items: center;
}

.header-navigation ul li {
  margin-left: 50px;
}

.header-navigation ul li a {
  color: #F7F6EE;
  letter-spacing: 3px;
}

.header-navigation ul li .active {
  color: #1d3848;
  font-weight: 300;
  background: #F7F6EE;
  padding: 5px 15px;
  border-radius: 36px;
  border: 1px solid goldenrod;
}

.header-navigation ul li .active:hover {
  background: goldenrod;
}


.global-header h1 {
  text-align: center;
  position: relative;
  top: 20px;
  font-weight: 500;
  font-size: 72px;
  letter-spacing: 5px;
  color: #F7F6EE;
  line-height: 80px;

}

.arrow {
  display: inline-block;
  position: relative;
  top: 110px;
  left: 50%;
  width: 5px;
  height: 120px;
  border-radius: 2px;
  background: cornsilk;
}

.arrow::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 11px;
  width: 5px;
  height: 30px;
  background: cornsilk;
  border-radius: 2px;

  transform: rotate(45deg)
}

.arrow::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -11px;
  width: 5px;
  height: 30px;
  background: cornsilk;
  border-radius: 2px;

  transform: rotate(-45deg)
}

.section-one {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col-3 {
  width: 25%;
  height: auto;
}

.col-4 {
  width: 33.33333%;
  height: auto;
}

.col-6 {
  width: 50%;
  height: 500px;
}

.col-6 .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 90px;
}

.col-6 .text h3 {
  font-size: 34px;
  margin-bottom: 30px;
  color: #183342;
}

.col-6 .text p {
  color: #576974;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2rem;
}

.col-6 .text .btn {
  display: inline-block;
  margin-top: 30px;
  font-size: 1.3rem;
  position: relative;
  z-index: 2;
}

.yellow::after {
  content: "";
  display: inline-block;
  position: absolute;
  z-index: -1;
  bottom: 0px;
  left: -5px;
  width: 110%;
  height: 12px;
  border-radius: 8px;
  background-color: #f5b913;
}

.red::after {
  content: "";
  display: inline-block;
  position: absolute;
  z-index: -1;
  bottom: 0px;
  left: -5px;
  width: 110%;
  height: 12px;
  border-radius: 8px;
  background-color: #e75f5f;
}


.col-6 img {
  width: 100%;
  height: 500px;
  background-position: center 100%;
}

.img-1 {
  background: url(../images/desktop/image-transform.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.img-2 {
  background: url(../images/desktop/image-stand-out.jpg);
  background-repeat: no-repeat; 
  background-size: cover;
}

.img-3 {
  background: url(../images/desktop/image-graphic-design.jpg);
  background-repeat: no-repeat; 
  background-size: cover;
}

.img-4 {
  background: url(../images/desktop/image-photography.jpg);
  background-repeat: no-repeat; 
  background-size: cover;
}

.img-3,
.img-4 {
  display: flex;
  align-items: flex-end;
  text-align: center;
}

.img-3 .inside,
.img-4 .inside {
  width: 300px;
  margin: 0 auto 20px;

}

.img-3 .inside h4,
.img-4 .inside h4 {
  color: rgb(1, 82, 82);
  font-size: 24px;
  margin-bottom: 20px;
}

.img-3 .inside p,
.img-4 .inside p {
  color: rgb(9, 95, 95);
  font-weight: 500;
}

/*
* Section-two
-------------------------------------------*/

.section-two {
  text-align: center;
  padding: 100px 50px;
}

.section-two .title {
  justify-content: center;
}

.section-two .title h2 {
  font-size: 24px;
  color: #576974;
  margin-bottom: 150px;
}

.section-two .col-4 {
  padding: 0 10px;
}

.section-two .col-4 p {
  margin-bottom: 35px;
}

.section-two .col-4 h2 {
  color: #183342;
  margin-bottom: 10px;
}

.section-two .col-4 span {
  color: #576974;
}

/*
* Section-three
-------------------------------------------*/


.img-5,
.img-6,
.img-7,
.img-8 {
  height: 350px;
}

.img-5 {
  background: url(../images/desktop/image-gallery-cone.jpg);
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
}

.img-6 {
  background: url(../images/desktop/image-gallery-milkbottles.jpg);
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
}

.img-7 {
  background: url(../images/desktop/image-gallery-orange.jpg);
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
}

.img-8 {
  background: url(../images/desktop/image-gallery-sugarcubes.jpg);
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
}

/*
* Fooooooter
-------------------------------------------*/

.global-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba(0, 128, 128, 0.411);
  padding: 100px 0;
}

.footer-logo {
  width: 130px;
  margin-bottom: 50px;
  color: rgba(0, 128, 128, 1);
}

.navigation-footer {
  display: flex;
  margin-bottom: 50px;
}

.navigation-footer li {
  margin: 0 20px;
}

.navigation-footer li a {
  font-size: 1.3rem;
  color: teal;
}

.social {
  display: flex;
}

.social li {
  margin: 0 10px;
}

.social li a i {
  color: teal;
  font-size: 1.2rem;
}

@media (max-width: 800px) {

  .header-navigation ul {
    display: none;
  }

  .section-one .col-6{
    width: 100%;
  }

  .section-one .img-1 {
    order: -1;
  }

  .section-one .text {
    align-items: center;
  }

  .section-two .col-4 {
    width: 100%;
    margin-bottom: 50px;
  }
  
  .section-three .col-3 {
    width: 50%;
  }
  
}